.navbar {
    
    &-font {
        font-family: 'Raleway', sans-serif;
    }

    &-padding {
        padding-left: 10%;
        padding-right: 10%;
    }

    &-btn {
        
        &-color {
            color: white;
        }
    }

    &-img{
        max-width: 40px;
        max-height: 40px;
    }

    &-span{
        text-align: center;
    }
}

.a{
    &-padding{
        padding: 0;
    }
}