<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-font navbar-padding">
    <a class="navbar-brand" href="#">Machine Translations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Novels
            </a>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">              
              <a class="dropdown-item" routerLinkActive="active" routerLink="/results">Novels Listing</a>
              <a class="dropdown-item" href="#">Novels Ranking</a>
              <a class="dropdown-item" href="#">Random Novel</a>
              <a class="dropdown-item" href="#">Recent Updates</a>           
            </div>
          </li>        
      </ul>     

      

        <ul *ngIf="!status" class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
          </li>          
        </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul *ngIf="status" class="navbar-nav">
          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle a-padding" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{imageUrl}}" class="navbar-img">
            </a>
            <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
              <p class="navbar-span">Signed in as <strong>{{username}}</strong></p>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active" routerLink="/profile">View Profile</a>
              <a class="dropdown-item" (click)="logout()" href="#">Logout</a>            
            </div>
          </li>        
        </ul>
    </div>
  </nav>
