.navbar {
    
    &-font {
        font-family: 'Raleway', sans-serif;
    }

    &-padding {
        padding-left: 10%;
        padding-right: 10%;
    }

    &-btn {
        
        &-color {
            color: white;
        }
    }
}