<div class="row">
    <div class="col-md-3">
        <img src="{{imageUrl.source._value}}"> 
        <a class="nav-link" routerLinkActive="active" routerLink="/profile/avatars">Change Avatar</a>
    </div>
    <div class="col-md-9">
        <ul>
            <li><a class="nav-link" routerLinkActive="active" routerLink="#">Edit Details</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="#">Change Password</a></li>
            <li><a class="nav-link" routerLinkActive="active" routerLink="#">Delete Account</a></li>
        </ul>
        
        
        
    </div>
</div>
    
