
<div class="container profile-container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{imageUrl.source._value}}" class="profile-avatar"> 
            <a class="nav-link profile-button" routerLinkActive="active" routerLink="/profile/avatars">Change Avatar</a>
        </div>
        <div class="col-md-3">
            <h1 class="profile-greeting">Hello {{userName.source._value}}!</h1>
        </div>
        <div class="col-md-6">
            <table class="profile-table">
                <tr class="profile-row" valign="middle">
                    <ul class="profile-menu-ul">
                        <a class="nav-link profile-menu-li profile-dashlink" routerLinkActive="active" routerLink="#">
                            <div class="profile-dashbutton">
                                    <i class="fas fa-trash-alt profile-icon"></i>
                            </div>
                            <li class="profile-dashtag">Delete Account</li>
                        </a>                
                        <a class="nav-link profile-menu-li profile-dashlink" routerLinkActive="active" routerLink="#">
                            <div class="profile-dashbutton">
                                    <i class="fas fa-unlock-alt profile-icon"></i>
                            </div>
                            <li class="profile-dashtag">Change Password</li>
                        </a>
                        <a class="nav-link profile-menu-li profile-dashlink" routerLinkActive="active" routerLink="/profile/edit">
                            <div class="profile-dashbutton">
                                    <i class="fas fa-pencil-alt profile-icon"></i>
                            </div>
                            <li class="profile-dashtag">Edit Details</li>
                        </a>
                    </ul>        
                </tr>
            </table>
        </div>
    </div>
    <hr>
</div>
    
